doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/knacss.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/scripts/jquery.min.js', defer)
    script(type='text/javascript', src='/scripts/datasource.js', defer)
  body
    block content
